#profile{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 9;
  transition-duration: .5s;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  width: 100vw;
}

.idle{
  width: 0;
}

#profile-content{
  width: 100%;
  max-width: 500px;
  padding: 2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input,textarea{
  width: 100%;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: .5em;
  resize: none;
  outline: none;
  border: 1px solid grey;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#pet_age_number{
  width: 40%;
}
#period{
  width: 20%;
  height: 3em;
  margin-right: 8%;
  margin-left: 2%;
}
button{
  width: 30%;
  background-color: rgb(14, 122, 14);
  color: white;
}

h1{
  text-align: center;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  text-shadow: 0 0 4px rgba(6, 148, 25, 0.68), 0 0 4px rgba(6, 148, 25, 0.68), 0 0 4px rgba(6, 148, 25, 0.68), 0 0 4px rgba(6, 148, 25, 0.68), 0 0 4px rgba(6, 148, 25, 0.68), 0 0 4px rgba(6, 148, 25, 0.68), 0 0 4px rgba(0, 0, 0, 1), 0 0 4px rgba(0, 0, 0, 1);
}


