<mat-card id= "card{{postData.postId}}">
  <mat-card-header>
    <img *ngIf= "postData.hidden" mat-card-image src="{{postData.imageUrl}}" class="profile_pic">
    <mat-card-title>{{petName}}</mat-card-title>
    <mat-card-subtitle>{{petType}}, {{petAge}}</mat-card-subtitle>
    <button *ngIf="canFollow"
            id = "follow{{postData.postId}}" class="top-right-button follow"
            (click)="onFollowClick(postData.creatorId)"
            mat-flat-button color="primary">Follow</button>
    <button *ngIf="canDelete"
            id = "delete{{postData.postId}}" class="top-right-button delete"
            (click)="onDeleteClick(postData.postId)"
            mat-flat-button color="primary">Delete</button>
  </mat-card-header>
  <img *ngIf= "!postData.hidden" mat-card-image src="{{postData.imageUrl}}">
  <mat-card-content *ngIf= "!postData.hidden">
    {{postData?.comment}}
  </mat-card-content>
  <mat-card-actions *ngIf= "!postData.hidden">
    <mat-icon
      (click)="onReplyClick()" class="action-item" >chat_bubble_outline</mat-icon>
    <mat-icon id = "likeIcon{{postData.postId}}"
              (click)="onLikeClick(postData.postId)"
              class="action-item" >favorite_border</mat-icon>
    <mat-card-subtitle id = "likeNumber{{postData.postId}}" class="like-number">{{postData.likes}}</mat-card-subtitle>
  </mat-card-actions>
</mat-card>
